@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --principal-font: "Press Start 2P", system-ui;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #0188ff;
  display: flex;
  z-index: 100;
  overflow: hidden;
}

.container-tree {
  position: absolute;
  display: flex;
  width: 20%;
  height: 60%;
  top: 10%;
  left: 2%;
}

#tree {
  position: absolute;
  background: url("imgs/53251.gif") no-repeat -1720px -1335px;
  width: 68px;
  height: 149px;
  scale: 4;
  left: 40%;
  top: 30%;
  z-index: 200;
}

.container-bush {
  position: absolute;
  display: flex;
  width: 7%;
  height: 9vh;
  right: 15%;
  bottom: 30%;
  z-index: 200;
}

#bush {
  position: absolute;
  background: url("./imgs/53251.gif") no-repeat -1814px -1409px;
  width: 58px;
  height: 46px;
  scale: 3.5;
  bottom: 125%;
}

.container-grass {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30vh;
  bottom: 0;
  z-index: 300;
  background-color: #8c7405;
}

#grass-1 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1228px;
  width: 50px;
  height: 80px;
  scale: 6;
  top: 83%;
  left: 5%;
}

#grass-2 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1228px;
  width: 50px;
  height: 80px;
  scale: 5;
  top: 83%;
  left: 19%;
  bottom: 10%;
}

#grass-3 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1228px;
  width: 50px;
  height: 80px;
  scale: 5;
  top: 83%;
  left: 35%;
}

#grass-4 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1228px;
  width: 50px;
  height: 80px;
  scale: 5;
  top: 83%;
  left: 49%;
}

#grass-5 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1228px;
  width: 50px;
  height: 80px;
  scale: 5;
  top: 83%;
  left: 63%;
}

#grass-6 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1228px;
  width: 50px;
  height: 80px;
  scale: 5;
  top: 83%;
  left: 77%;
}

#grass-7 {
  position: absolute;
  background: url("./imgs/53251.gif") -1455px -1229px;
  width: 50px;
  height: 80px;
  scale: 5;
  top: 83%;
  left: 91%;
}

#upper-grass-1 {
  position: absolute;
  background: url("./imgs/Screenshot\ 2024-09-02\ at\ 10.00.11-Photoroom.png")
    no-repeat -44px -152px;
  width: 539px;
  height: 79px;
  scale: 2;
  z-index: 400;
  left: 10%;
  bottom: 90%;
}

#upper-grass-2 {
  position: absolute;
  background: url("./imgs/Screenshot\ 2024-09-02\ at\ 10.00.11-Photoroom.png")
    no-repeat -23px -152px;
  width: 539px;
  height: 79px;
  scale: 2;
  z-index: 399;
  left: 70%;
  bottom: 90%;
}

.container-score {
  display: flex;
  position: absolute;
  justify-content: space-around;
  z-index: 400;
  width: 100%;
  height: 25vh;
  bottom: 0;
}

.round-bullets {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 90%;
  bottom: 8%;
  left: 17%;
  gap: 10%;
}
.round {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 48px;
  height: 16px;
  scale: 2;
}

#round-value {
  position: absolute;
  font-family: var(--principal-font);
  color: #85d414;
  font-size: 20px;
}

#bullets {
  position: absolute;
  background: url("./imgs/53251.gif") no-repeat -2476px -1084px;
  width: 58px;
  height: 42px;
  scale: 2;
  bottom: 10%;
}

#life {
  position: absolute;
  background: url("./imgs/53251.gif") no-repeat -2292px -1141px;
  width: 234px;
  height: 42px;
  scale: 2;
  bottom: 17%;
}

#score {
  position: absolute;
  background: url("./imgs/53251.gif") no-repeat -2351px -1085px;
  width: 106px;
  height: 42px;
  scale: 2;
  bottom: 17%;
  right: 17%;
}

/******************************  DOG CSS **************************************************/
@keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: -60px 0px;
  }
  50% {
    background-position: -120px 0px;
  }
  75% {
    background-position: -180px 0px;
  }
}

@keyframes dogMove {
  from {
    left: 120px;
  }
  to {
    left: calc(120px + 600px);
  }
}

#dog {
  width: 60px;
  height: 58px;
  position: absolute;
  bottom: 200px;
  z-index: 2000;
  scale: 4;
  background-image: url("./dog_sprite/duckhunt_various_sheet-2.png");
  animation: dogWalk 0.8s steps(1) infinite, dogMove 5s linear forwards;
}

/********************************************************************************/
